{% extends 'base/base.html' %}
{% block content %}
<h1>Sign Up</h1>
<form method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <p>
    <label for="id_first_name">First Name</label><br>
    {{ form.first_name }}<br>
    {{ form.first_name.errors }}
  </p>

  <p>
    <label for="id_last_name">Last Name</label><br>
    {{ form.last_name }}<br>
    {{ form.last_name.errors }}
  </p>

  <p>
    <label for="id_username">Username</label><br>
    {{ form.username }}<br>
    {{ form.username.errors }}
  </p>

  <p>
    <label for="id_password1">Password</label><br>
    {{ form.password1 }}<br>
    <small>{{ form.password1.help_text }}</small><br>
    {{ form.password1.errors }}
  </p>

  <p>
    <label for="id_password2">Confirm Password</label><br>
    {{ form.password2 }}<br>
    {{ form.password2.errors }}
  </p>

  <button type="submit">Submit</button>
</form>
{% endblock %}
