{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'registration/signup.css' %}">
{% endblock %}
{% block content %}
<header class="signup-header">
  <h1 class="signup-title">Sign Up</h1>
</header>
<main class="form-main">
    <form method="post" class="signup-form">
      {% csrf_token %}

      {{ form.non_field_errors }}

      <p class="form-field">
        <label for="id_first_name">First Name</label><br>
        {{ form.first_name }}<br>
        {{ form.first_name.errors }}
      </p>

      <p class="form-field">
        <label for="id_last_name">Last Name</label><br>
        {{ form.last_name }}<br>
        {{ form.last_name.errors }}
      </p>

      <p  class="form-field">
        <label for="id_username">Username</label><br>
        {{ form.username }}<br>
        {{ form.username.errors }}
      </p>

      <p class="form-field">
        <label for="id_password1">Password</label><br>
        {{ form.password1 }}<br>
        <small>{{ form.password1.help_text }}</small><br>
        {{ form.password1.errors }}
      </p>

      <p  class="form-field">
        <label for="id_password2">Confirm Password</label><br>
        {{ form.password2 }}<br>
        {{ form.password2.errors }}
      </p>

      <div class="button-box">
        <button class="button" type="submit">Submit</button>
      </div>
  </form>
</main>
{% endblock %}
