.home-title {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.home-header {
    background-color: #0093bf;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.home-main {
    margin-top: 30px;
    width: 1508px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.image {
    width: 1000px;
}

.button {
    background-color: #0093bf;
    color: white;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Source Serif 4', serif;
    font-size: 15px;
}

.home-sub-title {
    font-size: 30px;
    font-weight: bold;
    color: #0093bf;
}