@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    font-family: 'Source Serif 4', serif;
    margin: 0;
    padding: 0;
}

.logo-job, .logo-logger {
    font-size: 35px;
}

.logo-logger {
    color: #0093bf;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-element {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
    width: 1508px;
}

.footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.footer-logo {
    width: 90px;
}

.footer-title {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}


.footer-text {
    font-size: 20px;
    color: #0093bf;
}

.footer-title-box {
    background-color: #0093bf;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    width: 1508px;
}