.profile-title {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.profile-header {
    background-color: #0093bf;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}