{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}
{% block content %}
<header class="home-header">
    <h1 class="home-title">Track Your Job Applications.</h1>
</header>
<main class="home-main">
    <div class="home-section">
        <h3 class="home-sub-title">Get Started</h3>
        <a href="{% url 'signup' %}" class="button">Sign Up</a>
    </div>
    <div>
        <img src="{% static 'images/steps.png' %}" class="image" alt="Website Steps">
    </div>
</main>
{% endblock %}