{% extends 'base/base.html' %}
{% block content %}
<h1>{{application.company_name}} - {{application.job_title}}</h1>
<p>Status: {{application.status}}</p>
<p>Salary: £{{application.salary}}</p>
<p>Location: {{application.location}}</p>
<p>Date Applied: {{application.date_applied}}</p>
{% if current_stage %}
<p>Current Stage: {{current_stage.stage_number}}: {{current_stage.stage_name}}</p>
{% else %}
<p>Current Stage: No stages added yet.</p>
{% endif %}

<h3>Notes</h3>
<h4>{% if editing_application_note_id %}Edit Note{% else %}Add a New Note{% endif %}</h4>
        <form method="post" action="{% if editing_application_note_id %}{% url 'update_application_note' application.pk editing_application_note_id %}{% else %}{% url 'add_application_note' application.pk %}{% endif %}">
                {% csrf_token %}
                {% if editing_application_note_id %}
                    {{ edit_application_note_form.note_text }}
                    {{ edit_application_form.note_text.errors }}
                {% else %}
                    {{ application_note_form.note_text }}
                    {{ application_note_form.note_text.errors }}
                {% endif %}
                <button type="submit">{% if editing_application_note_id %}Save{% else %}Add Note{% endif %}</button>
                {% if editing_application_note_id %}
                    <a href="{% url 'job_application_detail' application.pk %}">Cancel</a>
                {% endif %}
            </form>

{% if notes %}
<ul>
    {% for note in notes %}
    <li>
        <strong>{{ note.created_at }}:</strong> {{ note.note_text }}
        <a href="{% url 'update_application_note' application.pk note.pk %}">Edit</a>
        <form method="post" action="{% url 'delete_application_note' application.pk note.pk %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No notes added yet.</p>
{% endif %}

<a href="{% url 'job_application_update' application.pk %}">Edit</a> |
<a href="{% url 'job_application_delete' application.pk %}">Delete</a>

<h2>Add a New Stage</h2>
<form method="post" action="{% url 'create_stage' application.pk %}">
    {% csrf_token %}
    <div>
        <label for="id_stage_name">Name</label>
        {{ stage_form.stage_name }}
        {{ stage_form.stage_name.errors }}
    </div>
    <div>
        <label for="id_stage_date">Date & Time</label>
        {{ stage_form.stage_date_time }}
        {{ stage_form.stage_date.errors }}
    </div>
    <div>
        <label for="id_stage_status">Status</label>
        {{ stage_form.status }}
        {{ stage_form.status.errors }}
    </div>
    <button type="Submit">Submit</button>
</form>

<h2>Stages</h2>
{% if stages %}
<ul>
    {% for stage in stages %}
    <li>
        {% if editing_stage_id == stage.id %}
            <form method="post" action="{% url 'update_stage' stage.pk %}">
                {% csrf_token %}
                {{ edit_stage_form.stage_name.label }} {{ edit_stage_form.stage_name }}
                {{ edit_stage_form.stage_date_time.label }} {{ edit_stage_form.stage_date_time }}
                {{ edit_stage_form.status.label }} {{ edit_stage_form.status }}
                <button type="submit">Save</button>
                <a href="{% url 'job_application_detail' application.pk %}">Cancel</a>
            </form>
        {% else %}
            <strong>Stage: {{stage.stage_number}}: {{ stage.stage_name }}</strong>
            - {{ stage.stage_date_time }} - {{ stage.status }}
            <a href="{% url 'job_application_detail' application.pk %}?edit={{ stage.pk }}">Edit</a>
            <a href="{% url 'delete_stage' stage.pk %}">Delete</a>
        {% endif %}

        <h4>{% if editing_stage_note_id %}Edit Note{% else %}Add a New Note{% endif %}</h4>
        <form method="post" action="{% if editing_stage_note_id %}{% url 'update_stage_note' stage.pk editing_stage_note_id %}{% else %}{% url 'add_stage_note' stage.pk %}{% endif %}">
                {% csrf_token %}
                {% if editing_stage_note_id %}
                    {{ edit_stage_note_form.note_text }}
                    {{ edit_stage_note_form.note_text.errors }}
                {% else %}
                    {{ stage_note_form.note_text }}
                    {{ stage_note_form.note_text.errors }}
                {% endif %}
                <button type="submit">{% if editing_stage_note_id %}Save{% else %}Add Note{% endif %}</button>
                {% if editing_stage_note_id %}
                    <a href="{% url 'job_application_detail' application.pk %}">Cancel</a>
                {% endif %}
            </form>

        {% if stage.notes.all %}
            <ul>
                {% for note in stage.notes.all %}
                    <li>
                        <strong>{{ note.created_at }}:</strong> {{ note.note_text }}
                        <a href="{% url 'update_stage_note' stage.pk note.pk %}">Edit</a>
                        <form method="post" action="{% url 'delete_stage_note' stage.pk note.pk %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No notes for this stage yet.</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No stages added yet.</p>
{% endif %}
{% endblock %}