{% extends 'base/base.html' %}
{% block content %}
<h1>{{application.company_name}} - {{application.job_title}}</h1>
<p>Status: {{application.status}}</p>
<p>Salary: £{{application.salary}}</p>
<p>Location: {{application.location}}</p>
<p>Date Applied: {{application.date_applied}}</p>
{% if current_stage %}
<p>Current Stage: {{current_stage.stage_number}}: {{current_stage.stage_name}}</p>
{% else %}
<p>Current Stage: No stages added yet.</p>
{% endif %}

<h3>Notes</h3>
<h4>Add a New Note</h4>
<form method="post" action="{% url 'add_application_note' application.pk %}">
    {% csrf_token %}
    {{ note_form.note_text }}
    {{ note_form.note_text.errors }}
    <button type="submit">Add Note</button>
</form>

{% if notes %}
<ul>
    {% for note in notes %}
    <li>
        <strong>{{ note.created_at }}:</strong> {{ note.note_text }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No notes added yet.</p>
{% endif %}

<a href="{% url 'job_application_update' application.pk %}">Edit</a> |
<a href="{% url 'job_application_delete' application.pk %}">Delete</a>

<h2>Add a New Stage</h2>
<form method="post" action="{% url 'create_stage' application.pk %}">
    {% csrf_token %}
    <div>
        <label for="id_stage_name">Name</label>
        {{ stage_form.stage_name }}
        {{ stage_form.stage_name.errors }}
    </div>
    <div>
        <label for="id_stage_date">Date & Time</label>
        {{ stage_form.stage_date_time }}
        {{ stage_form.stage_date.errors }}
    </div>
    <div>
        <label for="id_stage_status">Status</label>
        {{ stage_form.status }}
        {{ stage_form.status.errors }}
    </div>
    <button type="Submit">Submit</button>
</form>

<h2>Stages</h2>
{% if stages %}
<ul>
    {% for stage in stages %}
    <li>
        {% if editing_stage_id == stage.id %}
            <form method="post" action="{% url 'update_stage' stage.pk %}">
                {% csrf_token %}
                {{ edit_stage_form.stage_name.label }} {{ edit_stage_form.stage_name }}
                {{ edit_stage_form.stage_date_time.label }} {{ edit_stage_form.stage_date_time }}
                {{ edit_stage_form.status.label }} {{ edit_stage_form.status }}
                <button type="submit">Save</button>
                <a href="{% url 'job_application_detail' application.pk %}">Cancel</a>
            </form>
        {% else %}
            <strong>Stage: {{stage.stage_number}}: {{ stage.stage_name }}</strong>
            - {{ stage.stage_date_time }} - {{ stage.status }}
            <a href="{% url 'job_application_detail' application.pk %}?edit={{ stage.pk }}">Edit</a>
            <a href="{% url 'delete_stage' stage.pk %}">Delete</a>

            <h4>Add a New Note</h4>
            <form method="post" action="{% url 'add_stage_note' stage.pk %}">
                {% csrf_token %}
                {{ stage_note_form.note_text }}
                {{ stage_note_form.note_text.errors }}
                <button type="submit">Add Note</button>
            </form>

            {% if stage.notes.all %}
                <ul>
                    {% for note in stage.notes.all %}
                        <li><strong>{{ note.created_at }}:</strong> {{ note.note_text }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No notes for this stage yet.</p>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No stages added yet.</p>
{% endif %}
{% endblock %}

