{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'profile/job_application_list.css' %}">
{% endblock %}
{% block content %}
<header class="job-list-header">
    <h1 class="header-title">My Applications</h1>
</header>
<main class="job-list-main">
    {% for application in applications %}
    <div class="job-application-card">
        <h3 class="title"><a href="{% url 'job_application_detail' application.pk %}" class="link">{{application.company_name}}</a></h3>
        <p class="job-title">{{application.job_title}}</p>
        <p class="status">Status: {{application.status}}</p>
    </div>
{% endfor %}
</main>
{% endblock %}