{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'profile/job_application_detail.css' %}">
{% endblock %}
{% block content %}
<div class="job-details-body">
    <header class="job-details-header">
        <h1 class="header-title">{{ application.company_name }} - {{ application.job_title }}</h1>
        <a href="{% url 'job_application_list' %}" class="back-button">Back to Applications</a>
    </header>
    <main class="job-details-main">
        <div class="job-details-top">
            <div class="job-details-top-left">
                <div class="job-details-info">
                    <h2 class="title">Details</h2>
                    {% if editing_application %}
                        <form method="post" action="{% url 'job_application_update' application.pk %}" class="job-application-form">
                            {% csrf_token %}
                            {{ job_application_form.as_p }}
                            <div class="detail-actions">
                                <button type="submit" class="button">Save</button>
                                <a href="{% url 'job_application_detail' application.pk %}" class="edit-button">Cancel</a>
                            </div>
                        </form>
                    {% else %}
                        <p>Status: {{ application.status }}</p>
                        <p>Salary: £{{ application.salary }}</p>
                        <p>Location: {{ application.location }}</p>
                        <p>Date Applied: {{ application.date_applied }}</p>
                        <div class="detail-actions">
                            <a href="?edit=1" class="edit-button">Edit</a>
                            <a href="{% url 'job_application_delete' application.pk %}" class="button">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <div class="new-stage-form">
                    <h2 class="title">Add a New Stage</h2>
                    <form method="post" action="{% url 'create_stage' application.pk %}" class="stage-form">
                        {% csrf_token %}
                        <div class="stage-form-fields">
                            <label for="id_stage_name">Name</label>
                            {{ stage_form.stage_name }}
                            {{ stage_form.stage_name.errors }}
                        </div>
                        <div class="stage-form-fields">
                            <label for="id_stage_date">Date & Time</label>
                            {{ stage_form.stage_date_time }}
                            {{ stage_form.stage_date.errors }}
                        </div>
                        <div class="stage-form-fields">
                            <label for="id_stage_status">Status</label>
                            {{ stage_form.status }}
                            {{ stage_form.status.errors }}
                        </div>
                        <button type="submit" class="button">Submit</button>
                    </form>
                </div>
            </div>
            <div class="job-detail-notes">
                <h4 class="title">{% if editing_application_note_id %}Edit Note{% else %}Add a New Note{% endif %}</h4>
                <form class="note-form" method="post" action="{% if editing_application_note_id %}{% url 'update_application_note' application.pk editing_application_note_id %}{% else %}{% url 'add_application_note' application.pk %}{% endif %}">
                    {% csrf_token %}
                    {% if editing_application_note_id %}
                        {{ edit_application_note_form.note_text }}
                        {{ edit_application_form.note_text.errors }}
                    {% else %}
                        {{ application_note_form.note_text }}
                        {{ application_note_form.note_text.errors }}
                    {% endif %}
                    <div class="note-form-actions">
                        <button type="submit" class="button">{% if editing_application_note_id %}Save{% else %}Submit{% endif %}</button>
                        {% if editing_application_note_id %}
                            <a href="{% url 'job_application_detail' application.pk %}" class="edit-button">Cancel</a>
                        {% endif %}
                    </div>
                </form>
                {% if notes %}
                <div class="application-notes-list">
                    <h3 class="title">Notes</h3>
                    <div class="application-notes-section">
                        {% for note in notes %}
                        <div class="application-note">
                            <div class="application-note-box">
                                <p class="note-text">{{ note.note_text }}</p>
                            </div>
                            <div class="application-note-actions">
                                <p class="note-date">{{ note.created_at }}</p>
                                <a href="{% url 'update_application_note' application.pk note.pk %}" class="edit-button">Edit</a>
                                <form method="post" action="{% url 'delete_application_note' application.pk note.pk %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="button">Delete</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <p>No notes added yet.</p>
                {% endif %}
            </div>
        </div>
        <div class="job-detail-bottom">
            <h2 class="title">Stages</h2>
            <div class="stages-list">
            {% if stages %}
            {% for stage in stages %}
                <div class="stage-item">
                    <h3>Stage {{stage.stage_number}}</h3>
                    <p>{{ stage.stage_name }}</p>
                    <p>{{ stage.stage_date_time }}</p>
                    <p>Status: {{ stage.status }}</p>
                    <a href="{% url 'stage_detail' stage.pk %}" class="more-info-button">More Info</a>
                </div>
            {% endfor %}
            {% endif %}
           </div>
        </div>
    </main>
</div>
{% endblock %}