{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'profile/profile.css' %}">
{% endblock %}
{% block content %}
<header class="profile-header">
    <h1 class="profile-title">Welcome, {{ user.first_name }}</h1>
</header>
<main class="profile-main">
    <div class="profile-upcoming-stage">
        {% if upcoming_stage %}
            <h3 class="sub-title">Upcoming Stage</h3>
            <p>Company: {{upcoming_stage.job_application.company_name}}</p>
            <p>Job Title: {{upcoming_stage.job_application.job_title}}</p>
            <p>Stage: {{upcoming_stage.stage_name}}</p>
            <p>Date: {{upcoming_stage.stage_date_time}}</p>
        {% else %}
            <h3 class="sub-title">Upcoming Stage</h3>
            <p>No upcoming stages</p>
        {% endif %}
    </div>
    <div class="profile-section">
        <h3 class="sub-title">Open Applications</h3>
        <p class="number">{{open_applications}}</p>
    </div>
    <div class="profile-section">
        <h3 class="sub-title">Total Applications</h3>
        <p class="number">{{total_applications}}</p>
</main>
{% endblock %}