{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Logger</title>
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    {% block head %} {% endblock %}
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <h1 class="logo">
          <span class="logo-job">JOB</span><span class="logo-logger">LOGGER.</span>
        </h1>
        <ul class="nav-list">
          {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}" class="nav-element">Profile</a></li>
          <li><a href="{% url 'job_application_list' %}" class="nav-element">My Applications</a></li>
          <li><a href="{% url 'job_application_form' %}" class="nav-element">New Application</a></li>
          <li><a href="{% url 'logout' %}" class="nav-element">Sign Out</a></li>
          {% else %}
          <li><a href="/" class="nav-element">Home</a></li>
          <li><a href="{% url 'login' %}" class="nav-element">Sign In</a></li>
          <li><a href="{% url 'signup' %}" class="nav-element">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %} 
      {% endblock %}
      <div class="footer">
        <div class="footer-title-box">
          <h1 class="footer-title">Start Applying</h1>
        </div>
        <p class="footer-text">The following Job Websites are industry leading and give you the best chance of finding your next role.</p>
        <div class="footer-logos">
          <a href="https://www.linkedin.com/"><img src="{% static 'images/linkedin-logo.png' %}" alt="LinkedIn Logo" class="footer-logo"></a>
          <a href="https://uk.indeed.com/"><img src="{% static 'images/indeed-logo.png' %}" alt="Indeed Logo" class="footer-logo"></a>
          <a href="https://www.google.com/about/careers/applications/"><img src="{% static 'images/google-jobs-logo.png' %}" alt="Google Careers" class="footer-logo"></a>
          <a href="https://www.glassdoor.co.uk/index.htm"><img src="{% static 'images/glassdoor-logo.png' %}" alt="Glassdoor Logo" class="footer-logo"></a>
          <a href="https://www.cv-librarygroup.co.uk/"><img src="{% static 'images/cv-library-logo.png' %}" alt="CV Library Logo" class="footer-logo"></a>
        </div>
      </div>
    </main>
  </body>
</html>
